/* Responsive */
/* Mobile */
@media (min-width: 0px) and (max-width: 576px){
    .banner-title, .main-title{
        font-size: 32px;
    }

    .banner-subtitle, .main-subtitle{
        font-size: 16px;
    }

    .button{
        font-size: 16px;
    }

    .head-banner{
        overflow: hidden;
    }

    .start-slide{
        position: absolute;
        top: 0;
        left: 0;
    }

    .slide-left{
        position: absolute;
        top: 0;
        left: 0;
        transition-duration: 2s;
    }

    .slide-right{
        position: absolute;
        top: 0;
        left: 1000px;
        transition-duration: 2s;
    }

    .hidden{
        opacity: 0;
    }
    
    .show{
        opacity: 100;
        transition-delay: 0.85s;
    }

    .move-scroll-down{
        position: absolute;
        /* top: 1080px; */ top: 0;
        left: 200%;
        transition-duration: 2s;
    }

    .move-scroll-up{
        position: absolute;
        top: 0;
        left: 10%;
        transition-duration: 2s;
    }
    
    .start-position{
        position: absolute;
        top: 0;
        left: 10%;
    }
    
    body{
        /* overflow-x: hidden; */
    }

    .buttton{
        width: 100px;
    }

    .container{
        padding: 0 5px;
    }
    /* header */
    /* Header-Nav */
    .head-nav{
        
    }
    .head-banner{
        z-index: 998;
    }
    .head-nav .nav-button{
        display: none;
    }

    .head-nav .container{
        padding: 0 0;
    }
    
    .navigator:active .page{
        opacity: 100;
    }

    .logo{
        width: 100%;
        padding: 0 20px;
    }

    .page{
        opacity: 0;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        background-color: white;
        padding: 0 20px;
        top: 40px;
        z-index: 999;
    }

    .page a{
        margin: 10px 0;
    }

    .page .nav-button{
        display: block;
    }
    /* End head-Nav */
    /* Banner */
    .head-banner .container{
        flex-direction: column;
        /* padding: 0 5px; */
    }

    .text-banner{
        width: 100%;
    }

    .banner-button{
        width: 100%;
    }

    .banner-button .nav-button{
        /* scale: 100; */
        /* width: 100%; */
    }

    .nav-button img{
        margin-right: 5px;
    }
    
    .image-banner{
        width: 100%;
        margin: 50px 0;
    }

    .stiker-simle{
        left: 0px;
    }

    .stiker-shop{
        right: 0;
    }

    .stiker-star{
        left: 0;
    }

    /* Head-Logo */
    .head-logo{
        overflow: auto;
    }

    .logo img{
        position: static;
        opacity: 100;
    }
    /* End Head-Logo */
    /* End Header */
    /* Main */
    /* Main-Style */
    .main-style .container{
        /* overflow: auto; */
    }

    .style-image{
        /* width: 1400px; */
        overflow: auto;
    }

    .style-image img{
        margin: 0 20px;
    }
    /* End Main-Style */
    /* Main-Hype */
    .hype-contents{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hype-content img{
        width: 60%;
    }
    /* Main-Shop */
    .main-shop{
        width: 100%;
    }
    
    .shop-contents{
        /* width: 100%; */
    }

    .kolom{
        width: 100%;
    }

    .long{
        margin-bottom: 20px;
        /* height: 80%; */
        /* width: 95%; */
    }

    .shop-content{
        /* max-width: 95%; */
        /* width: fit-content; */
        /* width: 98vw; */
        width: 100%;
        min-height: 500px;
        overflow: hidden;
    }

    .kolom{
        /* min-width: 98vw; */
        /* overflow: auto; */
        height: auto;
    }

    .shop-content div{
        /* width: auto; */
        top: 85px;
        width: 100%;
        height: 60%;
    }

    .shop-content div img{
        /* width: auto; */
        /* height: 70%; */
        width: 40%;
        /* opacity: 0; */
    }

    .half{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
        /* width: auto; */
    }
    /* End Main-Shop */
    /* Main-Vibe */
    .gallery{
        overflow: auto;
        width: 100%;
    }

    .gallery-kolom{
        margin: 0 20px;
    }
    /* End Main-Vibe */
    /* Footer */
    .footer{
        width: 100%;
        overflow-x: hidden;
    }

    .footer-logo{
        width: 100%;
    }

    .footer .row{
        max-width: auto;
    }

    .col-12{
        margin: 20px 0;
    }
}

/* Landspace */
@media (min-width: 576px) and (max-width: 768px){
    .head-banner{
        overflow: hidden;
    }

    .start-slide{
        position: absolute;
        top: 0;
        left: 0;
    }

    .slide-left{
        position: absolute;
        top: 0;
        left: 0;
        transition-duration: 2s;
    }

    .slide-right{
        position: absolute;
        top: 0;
        left: 1000px;
        transition-duration: 2s;
    }

    .move-scroll-down{
        position: absolute;
        /* top: 1080px; */ top: 0;
        left: 200%;
        transition-duration: 2s;
    }

    .move-scroll-up{
        position: absolute;
        top: 0;
        left: 25%;
        transition-duration: 2s;
    }
    
    .start-position{
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo{
        width: 100%;
    }

    .logo img{
        position: static;
        opacity: 100;
    }

    .head-nav .nav-button{
        display: none;
    }

    .text-banner, .image-banner{
        width: 100%;
        margin-bottom: 50px;
    }

    .head-logo{
        overflow: auto;
    }

    .page{
        opacity: 0;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        background-color: white;
        padding: 0 20px;
        top: 40px;
        z-index: 999;
    }

    .page a{
        margin: 10px 0;
    }

    .page .nav-button{
        display: block;
    }

    .style-image{
        overflow: auto;
    }
    .style-image img{
        margin: 0 20px;
    }

    .hype-content img{
        width: 70%;
    }

    .gallery{
        overflow: auto;
        width: 100%;
    }

    .gallery-kolom{
        margin: 0 20px;
    }

    .long{
        margin-bottom: 20px;
        /* height: 80%; */
        /* width: 95%; */
    }
    
    .banner-button{
        width: 100%;
    }
}

/* Ipad */
@media (min-width: 768px) and (max-width: 991px){
    .head-banner{
        overflow: hidden;
    }

    .start-slide{
        position: absolute;
        top: 0;
        left: 0;
    }

    .slide-left{
        position: absolute;
        top: 0;
        left: 0;
        transition-duration: 2s;
    }

    .slide-right{
        position: absolute;
        top: 0;
        left: 1000px;
        transition-duration: 2s;
    }

    .move-scroll-down{
        position: absolute;
        /* top: 1080px; */ top: 0;
        left: 200%;
        transition-duration: 2s;
    }

    .move-scroll-up{
        position: absolute;
        top: 0;
        left: 27%;
        transition-duration: 2s;
    }
    
    .start-position{
        position: absolute;
        top: 0;
        left: 27%;
    }

    .page{
        width: 400px;
        opacity: 100 !important;
    }

    /* .page{
        opacity: 0;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        background-color: white;
        padding: 0 20px;
        top: 40px;
        z-index: 999;
    } */

    .text-banner{
        width: 100%;
        margin-bottom: 50px;
    }
    
    .image-banner{
        width: 100%;
    }

    .head-logo{
        overflow: auto;
    }

    .style-image{
        overflow: auto;
    }
    .style-image img{
        margin: 0 20px;
    }

    .hype-content img{
        width: 100%;
    }

    .gallery{
        overflow: auto;
        width: 100%;
    }

    .gallery-kolom{
        margin: 0 20px;
    }

    .long{
        margin-bottom: 20px;
        /* height: 80%; */
        /* width: 95%; */
    }

    .banner-button{
        width: 100%;
    }
    .footer{
        height: auto;
    }

    .footer-logo{
        width: 100%;
    }

}

@media (min-width: 992px) and (max-width: 1200px){
    .head-banner{
        overflow: hidden;
    }

    .start-slide{
        position: absolute;
        top: 0;
        left: 0;
    }

    .slide-left{
        position: absolute;
        top: 0;
        left: 0;
        transition-duration: 2s;
    }

    .slide-right{
        position: absolute;
        top: 0;
        left: 1000px;
        transition-duration: 2s;
    }

    .hide{
        opacity: 0;
    }
    .show{
        transition-delay: 1.8s;
        opacity: 100;
    }
    .move-scroll-down{
        position: absolute;
        /* top: 1073px; */ top: 0;
        left: 200%;
        transition-duration: 2s;
    }

    .move-scroll-up{
        position: absolute;
        top: 0;
        left: 15%;
        transition-duration: 2s;
    }
    
    .start-position{
        position: absolute;
        top: 0;
        left: 15%;
    }

    .page{
        opacity: 100 !important;
    }

    .text-banner{
        width: 55%;
        margin-bottom: 50px;
        padding: 0;
    }
    
    .image-banner{
        width: 45%;
    }

    .stiker-smile{
        left: 20px;
        top: 100px;
    }
    
    .stiker-star{
        left: 10px;
        bottom: 100px;
    }
    
    .stiker-shop{
        right: 20px;
        top: 200px;
    }

    .style-image{
        overflow: auto;
    }
    .style-image img{
        margin: 0 20px;
    }

    .hype-content img{
        width: 70%;
    }

    /* .kolom{
        width: 48%;
    }
    .shop-content{
        width: 100%;
    } */

    .gallery{
        overflow: auto;
        width: 100%;
    }

    .gallery-kolom{
        margin: 0 20px;
    }

    .long{
        margin-bottom: 20px;
        /* height: 80%; */
        /* width: 95%; */
    }

    .banner-button{
        width: 100%;
    }

    .footer-logo{
        width: 100%;
        margin-bottom: 50px;
    }
    .row{
        width: 80%;
    }

}

@media (min-width: 1200px){
    #phone-hide{
        opacity: 0 !important;
    }

    #phone-scroll{
        opacity: 100 !important;
    }

    .page{
        opacity: 100 !important;
    }

    .main-style .container{
        max-width: 100%;
    }

    .shop-content{
        width: 500px;
    }

    .shop-content div{
        width: 100%;
    }

    .shop-content div img{
        width: 40%;
    }

    .sell-1, .sell-2, .sell-3{
        /* width: 40%;
        height: 80%; */
        bottom: -60px;
    }
    .row{
        width: 100%;
    }

}

@media (min-width: 1400px){
    .move-scroll-down{
        left: -23%;
    }
}